<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css" type="text/css">
    <script src="/static/jquery-3.6.4.min.js"></script>
    <script src="/static/script.js"></script>
    <title>Movie recommendation</title>
</head>
<body>
    <script>
        checkLoggedIn();
    </script>
    <nav>
        <a id="home-link" href="/">Home</a>
        <div>
            <a href="/watched">Watch-List</a>
            <a href="/logout">Log-Out</a>
        </div>

    </nav>
    <div class="index-div">
        <h1>Movie Recommendations</h1>
        <div class="recommendations-div" id="recommendations-div">
            <div class="simple-spinner" id="simple-spinner">
                <span></span>
            </div>
        </div>
    </div>
    <script>fetchRecommendedMovies()</script>
</body>
</html>