<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <title>Login page</title>
</head>

<body>
    <div class="main-div">
        <div class="login-div">
            <h2>Login</h2>
            <div id="incorrect-credentials">Incorrect email or password</div>
            <form action="" method="post" class="login-form" id="login-form">
                <input id="email" name="email" type="text" placeholder="E-mail">
                <input id="password" name="password" type="password" placeholder="Password">
                <button type="submit">Submit</button>
            </form>
        </div>
    </div>
    <script src="/static/jquery-3.6.4.min.js"></script>
    <script src="/static/script.js"></script>
</body>

</html>